body {

    background-color: black;
}

header {
    background-image: url(../images/Repy_portrait_reunion-graffiti.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;


}

.header__titre {
    position: absolute;
    right: 250px;
    top: 70px;


}

h1 {


    color: white;
    font-size: 6rem;
    font-family: 'Playball', cursive;
    margin-bottom: 0.5rem;

}

h2 {

    font-size: 1.5rem;
    display: block;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

h3 {


    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 01.5rem;
    text-align: center;

}









.main__wrapper {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    flex-wrap: wrap;

}

.main__wrapper__img {
    width: 28%;
    padding: 0.1rem;
    transition: transform .4s;
    /* Animation */
    flex: auto;
    border-radius: 0;

}

.main__wrapper__img:hover {
    width: 28%;
    padding: 0.1rem;
    transform: scale(1.03);
    border-radius: 5px;
    

}

.video{

    flex: 900;
}

.contact__wrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    flex-wrap: wrap;

}

.contact__titre {

    margin-top: 1rem;
    background-color: white;
    color: black;
    text-align: center;
}


h4 {


    color: black;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1.5rem 0;
    

}

form{
    width: 40%;
}
.main__contact {

   
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;


}

.main__social {
    width: 40%;
    color: black
}

.main__contact label {
    font-size: 1.5rem;
    font-family: 'Playball', cursive;
    margin-bottom: 0.5rem;
}

.main__contact input {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    margin-bottom: 0.5rem;
    height: 2rem;
    font-size: 1.5rem;
    padding-left: 5ps;
    border-radius: 2px;
}

.main__contact textarea {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.39);
    margin-bottom: 0.5rem;
    height: 8rem;
    font-size: 1rem;
    padding-left: 5ps;
    border-radius: 2px;
}

.main__contact button {
    border: none;

    color: white;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    height: 3rem;
    font-size: 1rem;
    padding-left: 5ps;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;

    transition: font-size .3s;
}

.main__contact button:hover {
    font-size: 1.2rem;
}

footer {

    background-color: black;
}

footer p {
    color: white;
    text-align: center;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7em;

}

.vignette__wrapper{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.vignette__wrapper__img{
    width: 70px;
    height: 70px;
    margin: 3px;
    filter: contrast(100%);
    transition: filter .3s;
}

.vignette__wrapper__img:hover{
    width: 70px;
    height: 70px;
    margin: 3px;
    filter: contrast(250%);
    
}
